<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wrteam.ecart.shop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera2" android:required="false"/>

    <queries>
        <intent>
            <action
                android:name="android.intent.action.TTS_SERVICE"
                android:required="false" />
        </intent>
    </queries>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <queries>        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />        <!--             Specific intents you query for,             eg: for a custom share UI        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic,android:allowBackup">

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity

            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.PayStackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity

            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <activity

            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ecartweb.thewrteam.in"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.coursion.freakycoder.mediapicker.galleries.Gallery"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.coursion.freakycoder.mediapicker.galleries.OpenGallery"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity

            android:name=".activity.PayPalWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <activity

            android:name=".activity.MidtransActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <activity

            android:name=".activity.StripeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".helper.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>